body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    align-items: center;
    justify-content: center;
}

button{
    margin: 3px;
}

.lime-container{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.465);
    border-radius: 12px;
    padding: 100px;
    padding-bottom: 50px;
}

.row{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mezzo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.titolo-mezzo{
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin-left: 5px;
}

.arrow:before{
    content: "\21A6";
    color: white;
}

.sottotitolo{
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin:4px;
}

.full-bar{
    background-color: greenyellow;
    border-radius: 8px;
    height: 30px;
    width: 70%;
}

.mid-bar{
    background-color: orange;
    border-radius: 8px;
    height: 30px;
    width: 50%;
}

.low-bar{
    background-color: red;
    border-radius: 8px;
    height: 30px;
    width: 20%;
}